<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="nombre" [(ngModel)]= "Producto.nombre" placeholder="Nombre" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <textarea name="descripcion" [(ngModel)]= "Producto.descripcion" placeholder="Descripcion" rows="2" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" name="referencia" [(ngModel)]= "Producto.referencia" placeholder="Referencia" rows="2" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="ubicacion" [(ngModel)]= "Producto.ubicacion" placeholder="Ubicacion" rows="2" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="sede_bodega" [(ngModel)]= "Producto.sede_bodega" placeholder="Sede de la bodega" rows="2" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="url" name="imagen" [(ngModel)]= "Producto.imagen" placeholder="Imagen" class="form-control" />
                    </div>
                    <div class="d-grid gap-2 align-items-center">
                         <!-- si la variable edit es true, entonces actualizar producto, si no guarda un nuevo producto -->
                        <button class="btn btn-success"(click)= "edit ? actualizarProducto() : guardarProducto()">GUARDAR</button>
                        <a class="btn btn-danger" routerLink="/productos" role="button">CANCELAR</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>